node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
yarn.lock
node_modules

# My files
.expo-shared
.expo
node_modules
babel.config.js
keys.json
package-lock.json
package.json
yarn-error.log
yarn.lock
